[submodule "Reusable-Code"]
	path = Reusable-Code
	url = https://github.com/Exarilo/Reusable-Code.git
[submodule "Tools/ExaOverlay"]
	path = Tools/ExaOverlay
	url = https://github.com/Exarilo/ExaOverlay.git
[submodule "Tools/CmdExtension"]
	path = Tools/CmdExtension
	url = https://github.com/Exarilo/CmdExtension.git
[submodule "Tools/FileManager"]
	path = Tools/FileManager
	url = https://github.com/Exarilo/FileManager.git
[submodule "School/Projet-Parle"]
	path = School/Projet-Parle
	url = https://github.com/Exarilo/Projet-Parle.git
[submodule "School/QuizzReact"]
	path = School/QuizzReact
	url = https://github.com/Exarilo/QuizzReact.git
[submodule "School/Cours"]
	path = School/Cours
	url = https://github.com/Exarilo/Cours.git
[submodule "School/Calcoolator"]
	path = School/Calcoolator
	url = https://github.com/Exarilo/Calcoolator.git
[submodule "School/ProjetBibliotheque"]
	path = School/ProjetBibliotheque
	url = https://github.com/Exarilo/ProjetBibliotheque.git
[submodule "Web/ExaWeb"]
	path = Web/ExaWeb
	url = https://github.com/Exarilo/ExaWeb.git
[submodule "Web/cergy-api"]
	path = Web/cergy-api
	url = https://github.com/Exarilo/cergy-api.git
[submodule "Arduino/ArduinoCardGame"]
	path = Arduino/ArduinoCardGame
	url = https://github.com/Exarilo/ArduinoCardGame.git
[submodule "Arduino/ArduinoJoystick"]
	path = Arduino/ArduinoJoystick
	url = https://github.com/Exarilo/ArduinoJoystick.git
[submodule "Games/UnkownGame"]
	path = Games/UnkownGame
	url = https://github.com/Exarilo/UnkownGame.git
[submodule "Games/WindowsExpender"]
	path = Games/WindowsExpender
	url = https://github.com/Exarilo/WindowsExpender.git
[submodule "Games/idle"]
	path = Games/idle
	url = https://github.com/Exarilo/idle.git
[submodule "Games/PygameTest"]
	path = Games/PygameTest
	url = https://github.com/Exarilo/PygameTest.git
[submodule "Games/DofusHelperOCR"]
	path = Games/DofusHelperOCR
	url = https://github.com/Exarilo/DofusHelperOCR.git
[submodule "SocialNetworks/SocialNetworkScrapper"]
	path = SocialNetworks/SocialNetworkScrapper
	url = https://github.com/Exarilo/SocialNetworkScrapper.git
[submodule "SocialNetworks/DiscordDialogPrettifier"]
	path = SocialNetworks/DiscordDialogPrettifier
	url = https://github.com/Exarilo/DiscordDialogPrettifier.git
[submodule "SocialNetworks/DiscordSocialNetworks"]
	path = SocialNetworks/DiscordSocialNetworks
	url = https://github.com/Exarilo/DiscordSocialNetworks.git
